body{
    background-color: rgb(236, 234, 234)!important;
}

.navbar-col{
    min-width: 300px;
    max-width: 350px;
}

.navbar-edit{
    max-width: 300px;
    float: left;
    border-radius: 20px;
}

.navbar-nav-edit{
    list-style-type: none;
}

.name-groups{
    margin-top: 10px;
    font-size: 10px;
}

.pages{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.pages:hover{
    color: white;
    background-color: black;
}

.icons-nav{
    width: 30px;
    margin-right: 5px;
}

.time{
    background: white;
    max-width: 200px;
    text-align: center;
    border-radius: 10px;
    padding: 1px;
    margin-top: 10px;
}

.search{
    margin-top: 10px;
}

.email{
    width: 30px;
}

.info-user{
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

.info-user-block{
    min-width:  300px;
    margin-top: 20px;
    max-width: 500px;
}

.icon-login{
	width: 60px;
}

.info-user-two{
    min-width: 300px;
    max-width: 350px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.searchr{
    width: 300px;
}

.shems{
    width: 300px;
}

.NameHi{
    padding: 20px;
}

.table-size{
    min-width: 350px;
    max-width: 400px;
    background: white;
    border-radius: 20px;
}
